body.loading .modal-animate-full-screen {
    display: block;
    height: 100%;
}

.modal-animate-full-screen {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
  }

  .jtable_delete_button {
    background: url('../js/jtable/themes/basic/delete.png') no-repeat;
    width: 16px;
    height: 16px;
  }